* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
}

p {
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #098bb4;
    border-radius: 10px;
  }


/* Utility classes */
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
  }
  
  .btn-primary {
    color: #fff;
    background: #09acdd;
  }
  
  .btn-primary:hover {
    background: #098bb4;
    transition: background 0.3s ease-in-out;
  }

/* Header */
header {
    width: 100vw;
    height: 150px;
    background-color: rgba(0, 0, 0, 0);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header_burger {
    height: 25%;
    width: 33%;
    z-index: 1;
    cursor: pointer;
}

.header_burger_burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 40px;
    height: 100%;
}

.header_burger span {
    width: 40px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    transition: .5s;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.header_logo a img {
    max-height: 100px;
    max-width: 300px;
}

.header_links {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 5%;
}

.header_links a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.header_links a svg:hover path, .header_links a svg:hover line {
    stroke: #09acdd;
    transition: .5s;
}

.header_basket a svg:hover path, .header_basket a svg:hover line {
    stroke: #09acdd;
    transition: .5s;
}

.header_basket {
    display: none;
    width: 33%;
    position: relative;
    right: 5%;
}

.header_basket a {
    position: relative;
    left: 75%;
}

.header_basket a svg {
    max-width: 40px;
    max-height: 40px;
}

/* Inner */
.inner {
    width: 100vw;
    height: 100vh;
    background: url('https://mobimg.b-cdn.net/v3/fetch/e6/e6c11117d6cf89a5c592ff121161fa5e.jpeg') no-repeat;
    background-size: cover;
}

.inner section {
    background-color: rgba(0, 0, 0, 0.5);
}

.inner_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.inner_info_bloks {
    margin: 0 5%;
    width: 40%;
}

.inner_info p {
    position: relative;
    bottom: 50px;
    font-size: 25px;
    color: #fff;
    padding: 40vh 0;
    text-align: left;
}

.inner_info a {
    background-color: #0aadad;
    color: #fff;
    position: absolute;
    top: 90vh;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
    font-size: 16px;
    transition: 0.2s;
}

.burger_nav {
    display: none;
    position: absolute;
    background-color: #f5f5f7;
    height: calc(100vh - 200px);
    width: 25%;
    border-radius: 0 10px 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s;
    z-index: 2;
}

.burger_nav a {
    padding: 20px 25%;
    border-radius: 5px;
    color: #4b4b4b;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.burger_nav a:hover {
    color: #098bb4;
    background-color: #e5e5e5;
    border: 1px solid #098bb4;
}

/* About us */
#about {
    padding: 50px 0;
    background: #f5f5f7;
  }
  
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about h2 {
    font-size: 20px;
  }
  
  #about p {
    font-size: 15px;
    color: #555;
  }
  
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
  }
  
  .about-img {
    flex: 1 1 550px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }

@keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-img img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
  }
  
/* Recomendation */
.rec {
    width: 100vw;
}

.rec h2 {
    text-align: center;
    font-size: 35px;
    color: #09acdd;
}

.rec_products {
    display: flex;
    width: 100%;
    position: relative;
}

.rec_row {
    padding: 30px 0;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rec_item {
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.13);
    -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.13);
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.13);
    margin: 10px;
}

.rec_item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.rec_item img {
    max-width: 250px;
    max-height: 250px;
}

.rec_item h4 {
    font-size: 25px;
}

.rec_item p {
    font-size: 12px;
    font-style: normal;
}

.rec_item_info {
    padding: 20px;
}

.rec_item_buy {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rec_item_buy p {
    color: #09acdd;
    font-size: 20px;
}

.rec_item_buy button {
    padding: 10px;
    border: 1px solid #000000;
    color: #555;
    cursor: pointer;
    border-radius: 5px;
}

.rec_item_buy button:hover {
    border: 1px solid #09acdd;
    color: #09acdd;
}

/* Often */
.often {
    width: 100vw;
    height: 60vh;
    background-color: #fff;
}

.often h2 {
    font-size: 35px;
}

.often_products {
    display: flex;
    justify-content: space-between;
}

.often_item {
    margin: 0 10px;
    min-width: 300px;
}

.often_item_img {
    width: 75%;
    height: 75%;
}

.often_item_img img {
    width: 100%;
}

.often_item_info_text {
    position: relative;
    bottom: 10px;
}

.often_item_info_text h4 {
    font-size: 25px;
    padding-top: 15px;
}

.often_item_info_text p {
    color: #666;
}

.often_item_info_button {
    width: 35%;
    height: 35px;
}

.often_item_info_button a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.often_item_info_button .light {
    width: 70%;
    height: 100%;
    background-color: #09acdd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.often_item_info_button .light p {
    color: #fff;
    font-size: 17px;
}

.often_item_info_button .dark {
    width: 30%;
    height: 100%;
    background-color: #098bb4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.often_item_info_button svg {
    max-width: 30px;
}

.often_item_info_button svg:hover line {
    stroke: #09acdd;
    transition: .2s;
}

/* Contact us */

#contact {
    padding: 5rem 0;
    background: rgb(226, 226, 226);
  }
  
  .contact-container {
    border-radius: 10px;
    display: flex;
    background: #fff;
  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
  }
  
  .form-container h2 {
    font-size: 26px;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
  }
  
  .form-container a {
    font-size: 1.1rem;
  }
  
/* Footer */
footer {
    width: 100%;
    height: 50vh;
}

.footer {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    font-size: 30px;
    padding: 20px 0;
    text-transform: uppercase;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_list {
    display: flex;
}

.footer_list a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

.footer_list a:hover {
    color: #000000;
}

.footer_list ul {
    list-style: none;
}

.footer_more p {
    color: #555;
}

.footer_more_cards {
    display: flex;
    justify-content: space-between;
}

.footer_more_cards img {
    max-width: 50px;
    max-height: 50px;
}

.copyright {
    position: relative;
    top: 20%;
    text-align: center;
}

.copyright p, a {
    color: #444;
    text-decoration: none;
}

.search {
    display: none;
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 50px;
    align-items: center;
    z-index: 1;
}

.search_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_input input {
    outline: none;
    margin: 0 5px;
    padding-left: 5px;
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.search_input input:focus {
    border: 1px solid #0aadad;
}

.search_input a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0aadad;
    height: 35px;
    cursor: pointer;
    color: #000000;
    width: 100px;
    border-radius: 5px;
}

.search_input a:hover {
    color: #fff;
    background-color: #098d8d;
}

.search_button {
    display: none;
    position: absolute;
    left: 75vh;
    width: 25vw;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
}

.search_button_close {
    display: flex;
    justify-content: flex-end;
}

.search_button_close img {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}

.search_button_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_button_input input {
    padding: 15px;
    width: 75%;
    border: none;
    outline: none;
    background-color: #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.search_button_input button {
    padding: 15px;
    border: none;
    margin: 0 5px;
    background-color: #09acdd;
    cursor: pointer;
    border-radius: 5px;
}

.search_button_input button:hover {
    color: #fff;
}

.inner_info_bloks_p h2 {
    position: relative;
    bottom: 45vh;
    font-size: 40px;
    color: #fff;
}

@media only screen and (max-device-width: 1250px) {
    .rec_products {
        display: block;
        right: 20px;
    }
    .rec_row {
        width: 100%;
    }
    .rec_item {
        width: 40%;
        box-shadow: none;
        border-radius: none;
        background-color: initial;
    }
    .rec_item img {
        max-width: 180px;
    }
    .rec_item_info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .rec_item_info h4 {
        font-size: 23px;
        font-weight: 600;
    }
    .rec_item_info > p {
        display: none;
    }
    .rec_item_buy {
        gap: 10px;
    }
    .rec_item_buy button {
        background-color: initial;
    }
}

@media only screen and (max-device-width: 1020px) {
    .often {
        height: 300px;
    }
    .often_products {
        overflow-x: scroll;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .often h2 {
        padding-bottom: 40px;
        font-size: 26px;
    }
    .often_item {
        display: flex;
    }
    .often_item_img, .often_item_img img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }
    .often_item_info_button {
        width: 100%;
    }
    .often_item_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (max-device-width: 870px) {
    .inner_info_bloks_p {
        position: relative;
        bottom: 65%;
    }
    .inner_info_bloks_p h2 {
        bottom: 70vh;
        font-size: 40px;
    }
    .rec h2 {
        font-size: 23px;
    }
}

@media only screen and (max-device-width: 750px) {
    .header_links {
        display: none;
    }
    .header_basket {
        display: block;
    }
    .header {
        height: 100px;
    }
    .header_burger {
        height: 25%;
        cursor: pointer;
    }
    .header_logo a img {
        max-width: 200px;
    }
    .burger_nav {
        width: 100%;
        border-radius: 0;
    }
    .search {
        display: block;
    }
    .inner_info_bloks {
        width: 80%;
    }
    .inner_info a {
        top: 75vh;
    }
    .inner_info p {
        position: relative;
        bottom: 30vh;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
      }
    
    .contact-img {
        width: 90%;
        margin: 3rem auto;
    }
    ::-webkit-scrollbar {
        display: none;
    }   
    .footer_info {
        display: block;
    }
    .form-container {
        width: 80%;
    }
}