* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper a img {
  max-width: 300px;
}

.login_box {
  margin: 30px auto;
  background-color: #ffffff;
  width: 500px;
  height: 50%;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}

.location_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15%;
  border-radius: 10px;
}

.your_city {
  padding: 10px;
}

.your_city_p span {
  font-weight: 600;
}

.your_city > .yes {
  background-color: #0aadad;
  color: #000;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.your_city > .yes:hover {
  background-color: #0aadad;
  color: #fff;
}

.your_city > .no {
  color: #09acdd;
  border: 1px solid #0aadad;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.your_city > .no:hover {
  border: 1px solid #0aadad;
  color: #098bb4;
}

.change_type_box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 10px;
}

.change_type_box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
}

.a_log {
  cursor: pointer;
  color: #000;
  border-bottom: 3px solid #0aadad;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.type_login {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
}

.type_login_info {
  text-align: center;
}

.type_login_info p {
  font-size: 15px;
  color: rgb(89, 89, 89);
}

h2 {
  font-size: 30px;
}

.type_login_input {
  margin: 5% 0;
}

.type_login_input input {
  padding: 15px;
  width: 250px;
  height: 50px;
  max-width: 400px;
  outline: none;
  border-radius: 10px;
  background-color: #ececec;
  font-size: 15px;
  border: none;
  margin-bottom: 5%;
}

.type_login_input input:focus {
  border: 1px solid #858585;
}

.type_login_input p {
  font-size: 13px;
}

.type_login_input p span {
  color: rgb(255, 111, 0);
  font-weight: 700;
}

.a_reg {
  cursor: pointer;
  color:#858585;
}

.type_reg {
  width: 100%;
  height: 70%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
}

.continue {
  position: relative;
  bottom: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

#whenSignedOut button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #0aadad;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  max-width: 400px;
  cursor: pointer;
  font-size: 15px;
  transition: .3s;
}

#whenSignedOut button:hover {
  background-color: #058888;
}

@media only screen and (max-device-width: 530px) {
  .login_box {
    border: none;
    border-radius: none;
    width: 100%;
    height: 500px;
  }
  .location_block {
    margin: 5% 0;
  }
  .change_type_box {
    margin: 5% 0;
  }
}